<h1>News Feed</h1>

<%# create a new post %>
<%= form_for News.new do |f| %>
  <%= f.text_area :content, size: '80x4', required: true, placeholder: 'What did you do recently?' %>
  <%= f.submit 'Post' %>
<% end %>

<div class="newsfeed container">
<% @news.each do |news| %>
  <div class="row panel panel-default">
    <div class="col-md-2">
      <h3><%= news.user.basic_profile.formatted_name %></h3>
      <%= image_tag news.user.basic_profile.picture_url, size: '80x80', alt: 'pic', class: 'img-thumbnail' %>
    </div>
    <div class="col-md-10">
      <p><%= distance_of_time_in_words news.created_at, Time.now %> ago</p>
      <p><%= news.content %></p>
    </div>
  </div>
<% end %>
