<h1>News Feed</h1>

<div class="panel panel-default">
  <%= form_for News.new do |f| %>
    <div class="panel-body">
      <%= f.text_area :content, size: '80x4', required: true, placeholder: "What's on your mind?" %>
    </div>
    <div class="panel-footer">
      <%= f.submit 'Post' %>
    </div>
  <% end %>
</div>

<div class="newsfeed container">
<% @news.each do |news| %>
  <div class="row panel panel-default">
    <div class="col-md-2">
      <h3><%= news.user.basic_profile.formatted_name %></h3>
      <%= image_tag news.user.basic_profile.picture_url, size: '80x80', alt: 'pic', class: 'img-thumbnail' %>
    </div>
    <div class="col-md-10">
      <p><%= news.content %></p>
      <p><%= distance_of_time_in_words news.created_at, Time.now %> ago</p>
    </div>
  </div>
<% end %>
