<h1>About Me</h1>

<%= form_for current_user.basic_profile, url: step_2_save_path do |f| %>
  <div class="form-group">
  <%=  f.label "What's your passion?" %>
  <%= f.text_area :passion, class: 'form-control', size: '80x4' %>
  </div>
  <div class="form-group">
  <%=  f.label "What have you always wanted to try?" %>
  <%= f.text_area :want_to_try, class: 'form-control', size: '80x4' %>
  </div>
  <div class="form-group">
  <%=  f.label "My idea of a perfect weekend is..." %>
  <%= f.text_area :perfect_weekend, class: 'form-control', size: '80x4' %>
  </div>
  <div class="form-group">
  <%=  f.label "My personal / professional strengths are..." %>
  <%= f.text_area :strengths, class: 'form-control', size: '80x4' %>
  </div>
  <div class="form-group">
  <%=  f.label "In the next year, I hope to..." %>
  <%= f.text_area :next_year_goals, class: 'form-control', size: '80x4' %>
  </div>

  <div class="pull-right">
    <%= f.submit "Finish your profile!" %>
  </div>
<% end %>
